@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Karmatic Arcade;
  font-weight: 400;
  src: url(/fonts/KarmaticArcade.ttf) format("truetype");
  font-display: swap;
}
