@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Karmatic Arcade;
  font-weight: 400;
  src: url(/fonts/KarmaticArcade.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Silkscreen;
  font-weight: 400;
  src: url(/fonts/Silkscreen.ttf) format("truetype");
  font-display: swap;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }
}
